body{
    margin:0;
    display:flex;
    justify-content: center;
    height:100vh;
    align-items: center;
    background-color: salmon;
    font-family:cursive;
}

.container{
     background-color: lightpink;
     width:400px;
     padding:20px;
     margin:10px;
     border-radius: 7px;
     box-shadow: 5px 4px 6px rgba(106, 7, 66, 0.3);

}

.textarea{
    
    resize:none;
    width:100%;
    font-family: cursive;
    font-size: 20px;
    padding:10px;
    box-sizing: border-box;
    background-color: white;
    border:2px solid darkgray;

}

.counter-container{
    display: flex;
    justify-content: space-between;
   
}


.counter-container p{
    font-size: 20px;
    color:gray;
}

.total-counter{
    color:green;
}

.remaining-counter{
    color:red;
}